kaggle
numpy
matplotlib
pandas
scikit-learn
python-box
opencv-python
albumentations
tqdm
python-dotenv
fastprogress
h5py
transformers
pyarrow
kornia
pycolmap
git+https://github.com/cvg/LightGlue.git

ipykernel
mediapy

